<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("css", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
