@model MemoriesProject.Models.ViewModels.MemoryCreateVM


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Lägg till minne</title>
</head>
<body>
    <form class="row g-3" method="post">
        <div class="col">
            <label asp-for="MemoryHolder"></label>
            <input asp-for="MemoryHolder" />
            <span asp-validation-for="MemoryHolder"></span>
        </div>

        <div class="col">
            <label asp-for="PeopleInMemory"></label>
            <input asp-for="PeopleInMemory" />
            <span asp-validation-for="PeopleInMemory"></span>
        </div>

        <div class="col">
            <label asp-for="MemoryTitle"></label>
            <input asp-for="MemoryTitle" />
            <span asp-validation-for="MemoryTitle"></span>
        </div>

        <div class="col">
            <label asp-for="When"></label>
            <input asp-for="When" />
            <span asp-validation-for="When"></span>
        </div>

        <div class="col">
            <label asp-for="WhenInWords"></label>
            <input asp-for="WhenInWords" />
            <span asp-validation-for="WhenInWords"></span>
        </div>

        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>

        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" />
        <span asp-validation-for="ImageUrl"></span>

        @*<label asp-for="BotCheck"></label>
            <input asp-for="BotCheck" />
            <span asp-validation-for="BotCheck"></span>*@
        <div class="col-auto">
            <button class="btn" type="submit" name="name" value="Lägg till minne" style="background-color:bisque">Lägg till minne</button>

        </div>
        @*<input type="submit" name="name" value="Lägg till minne" style="background-color: bisque;" />*@
    </form>
</body>
</html>
