@model UserLoginVM

@{ 
    ViewBag.Title = "Logga in";
    ViewBag.Heading = "Logga in";
}

<form method="post">
    <label asp-for="@Model.Username"></label>
    <input asp-for="@Model.Username" />
    <span asp-validation-for="@Model.Username"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <div class="col-auto">
        <button class="btn" type="submit" name="name">Logga in</button>
    </div>
</form>
