
@model Product[]

@{ViewBag.Title = "Products";}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Products</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

</head>
<body>
    <h1>Products (@Model.Length)</h1>
    <div>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name</li>
            }
        </ul>
    </div>
    <a asp-controller="Products" asp-action="Create">Create new product</a>
    <partial name="_TimeBox" model="DateTime.Now" />
</body>
</html>
