@model MVCMoviesPontus.Models.ViewModels.IndexVM

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Movies</h2>

    <form>
        <label for="movie-id"></label>
        <input id="input-field" type="text" name="movie-id" />
        <div id="movie-info-div"></div>
        <input type="button" onclick="getHtml()" id="btn-html" value="Get HTML" />
        <input type="button" onclick="getJson()" id="btn-json" value="Get JSON"/>

    </form>

    <script>


        const btnHtml = document.getElementById("btn-html");
        const btnJson = document.getElementById("btn-json");

        function getJson() {
            let userInput = document.getElementById("input-field").value;
            let url = `/IndexJson/${userInput}`;
            fetch(url,
                {
                    method: "GET",
                }
            )
                .then(result => result.json()) //deserialization from string to object, eftersom vi i vår Action IndexJson
                                               //serialiserade datan vi hämtade från vår filmlista.
                .then(result =>
                    document.getElementById("movie-info-div").innerHTML = `<p><strong>Title:</strong> ${result.title}</p><p><strong>Description:</strong> ${result.description}</p>`);
        }

        function getHtml() {
            let userInput = document.getElementById("input-field").value;
            let url = `/Index/${userInput}`;
            fetch(url,
                {
                    method: "GET",
                }
            )
                
                .then(result => result.text())
                .then(html =>
                    document.getElementById("movie-info-div").innerHTML = html);
        }

    </script>
</body>
</html>
