@model int

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Http Error page</title>
    </head>
    <body>
        <div>
            <p>Oopsidaisy! Error number @Model has occured!</p>
        </div>
    </body>
    </html> 