@model Employee[]
@{ 
    ViewBag.Title = "Employees - Home";
    ViewBag.Heading = "Employees";
}
<div>
    @if (Model.Length > 0)
    {
        <p>List of employees</p>

    }
    <ul>
        @foreach (var item in Model)
        {
            <li><a asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></li>
        }
    </ul>
</div>
