@model Employee[]
    <div>
        <ul>
            @foreach (var item in Model)
            {
                <li><a asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></li>
            }
        </ul>
    </div>

    <a asp-controller="Employee" asp-action="Create">Create new employee</a>
