@model EmployeeIndexVM[]
@{
    ViewBag.Title = "Employees - Home";
    ViewBag.Heading = "Employees";
}
<div>
    
    <table>
            <tr>
                <th>Employees</th>
            </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><a style="@(item.ShowAsHighlighted ? "color:red" : "")" asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></td>

            </tr>
        }
    </table>
</div>
