@model ASPNETPractice.Models.Toy[]
@{ 
    ViewBag.Title = "Toys toys toys- home page";
    ViewBag.Heading = "Mademoiselle's favourites";
}
        <ul>
            @foreach (var item in Model)
            {
            <li>Toy: <a asp-controller="Toy" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>    Popularity: @item.Popularity</li>
            }
        </ul>

