@model UserCreateAccountVM

@{
    ViewBag.Title = "Skapa konto";
    ViewBag.Heading = "Skapa konto";
}
<div class="row g-3">
    <div class="col-6">
            <form method="post">
                <label asp-for="@Model.UsernameChoice"></label>
                <input asp-for="@Model.UsernameChoice" />
                <span asp-validation-for="@Model.UsernameChoice"></span>

                <label asp-for="PasswordChoice"></label>
                <input asp-for="PasswordChoice" />
                <span asp-validation-for="PasswordChoice"></span>

                <label asp-for="PasswordChoiceRepeat"></label>
                <input asp-for="PasswordChoiceRepeat" />
                <span asp-validation-for="PasswordChoiceRepeat"></span>

                <div class="col-auto">
                    <button class="btn" type="submit" name="name">Skapa konto</button>
                </div>
            </form>
        </div>
</div>
