@model UserLoginVM

@{
    ViewBag.Title = "Logga in";
    ViewBag.Heading = "Logga in";
}
<div class="row g-3">
    <div class="col-6">
        <form method="post">
            <h6>Logga in</h6>
            <label asp-for="@Model.Username"></label>
            <input asp-for="@Model.Username" />
            <span asp-validation-for="@Model.Username"></span>

            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>

            <div class="col-auto">
                <button class="btn" type="submit" name="name">Logga in</button>
            </div>
        </form>
    </div>

</div>
