body {
    margin: 0 auto;
    color:darkslategray;
    opacity:0.6;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a {
    color: darkslategray
}

    a:hover {
        color:aquamarine;
    }

.my-table-head {
    background-color: darkslategray;
}

th {
    color: blanchedalmond;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: azure;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 100%;
}

.btn {
    background-color:darkcyan;
    color:blanchedalmond;
}

.opticon:hover {
    color:aquamarine;
}

html {
    background: url(/Images/Ennia1.jpg) no-repeat center center fixed;
  /*  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}

.details-img {
    height: 40rem;
    max-height: 40rem;
    width: 30rem;
    border-radius: 50%;
    z-index: 1;
    opacity: 1.0;
}
